/*Custom styles for this template */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: #3fb53f;
}

.logo_nav {
    height: 45px;
    margin-top: -13px;
}

.logo_jumbotron{
  height: 100px;
}

.center {
    text-align: center;
}

.welcomeUser {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #287128;
    font-weight: bold;
}

.detail {
    text-align: left;
}

/*Landing Page - Pricing Section*/
.amount {
    font-size: xx-large;
    font-weight: bold;
    padding: 2px;
}

.pricing {
    height: 325px;
}

.btn-pricing {
    position: absolute;
    bottom:0;
}

.feed_badge {
    max-height: 100px;
}
.feed_badgeContainer {
    text-align: left;
}