
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}"><img class="logo_nav" src="{{ url_for('static', filename='img/gardenShare_logo.png') }}"</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="{{ url_for('dashboard') }}">Garden Diary</a></li>
                <li><a href="{{ url_for('gardeners') }}">Gardeners</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session['username'] %}
                    <li class="welcomeUser">Welcome {{ session['username'] }}</li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->

    </div><!--/.container-fluid -->
</nav>