{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'img/favicon.ico' %}" />

    <title>GardenShare</title>

    {% include '_css.html' %}

</head>
<body>

    <!-- facebook javaScript SDK -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=664219533600264";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% include "_messages.html" %}

    <div class="container">

        {% include '_navbar.html' %}

        {% block jumbotron %}
        {% endblock %}

        {% block content %}
        {% endblock %}


    </div> <!-- /container -->

    {% include '_js.html' %}

</body>
</html>
