{% extends "base.html" %}
{% load staticfiles%}

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">

        <h1>{{ title }}</h1>

        {% for gardener in gardenersList %}
            <div class="col-sm-12">
                <div class="thumbnail">
                    <!-- Profile Avatar -->
                    <span class="user_avatarContainer">
                        <img src="{% static 'img/userAvatar_generic.png' %}" class="user_avatar img-responsive img-rounded " style="max-height: 50px" />
                    </span>
                    <div class="caption">
                        <h3>{{ gardener }}</h3>
                        Bio: {{ gardener.profile.bio }}
                    </div><!-- /caption -->
                </div> <!-- /thumbnail -->
            </div>
        {% endfor %}

    </div>

{% endblock %}