{% extends "base.html" %}
{% load staticfiles%}

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">

        <h1>{{ title }}</h1>

        {% for gardener in gardenersList %}
            <div class="col-sm-12">
                <div class="thumbnail">
                    <!-- Profile Avatar -->
                    <span class="user_avatarContainer">
                        <img src="{% static 'img/userAvatar_generic.png' %}" class="user_avatar img-responsive img-rounded " style="max-height: 50px" />
                    </span>
                    <div class="caption">
                        <h3>{{ gardener }}</h3>
                        Bio: {{ gardener.profile.bio }}
                        <hr>
                        <a class="btn btn-success">follow</a>
                    </div><!-- /caption -->
                </div> <!-- /thumbnail -->
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if gardenersList.has_previous %}
                    <a class="btn btn-link" href="?page={{ gardenersList.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> previous</a>
                {% endif %}

                <span class="current">
                    Page {{ gardenersList.number }} of {{ gardenersList.paginator.num_pages }}
                </span>

                {% if gardenersList.has_next %}
                    <a class="btn btn-link" href="?page={{ gardenersList.next_page_number }}">next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock %}