{% extends "base.html" %}
{% load staticfiles%}

{% block content %}

<h1>{{ title }}</h1>

<a href="{% url 'gardenDiary:create' %}" class="btn btn-success" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Add New</a><br/><br/>
<hr>

{% for post in posts %}

    <small>{{ post.id }}</small><br/>
    {{ post.title }}<br/>
    {{ post.content }}<br/><br/>
    <a href="{{ post.get_absolute_url }}" class="btn btn-success" role="button"><i class="fa fa-search-plus" aria-hidden="true"></i> View Detail</a>
    <br><br>
    <hr/>

{% endfor %}

{% endblock %}